<aside class="sidebar">
  <div class="brand">
    <i class="icon">📊</i> Sales Admin
  </div>
  <nav class="nav">
    <a href="./dashboard.html" class="nav-link" data-page="dashboard">
      <i class="icon">🏠</i> Dashboard
    </a>
    <a href="./products.html" class="nav-link" data-page="products">
      <i class="icon">📦</i> Products
    </a>
    <a href="./customers.html" class="nav-link" data-page="customers">
      <i class="icon">👥</i> Customers
    </a>
    <a href="./orders.html" class="nav-link" data-page="orders">
      <i class="icon">🛒</i> Orders
    </a>
    <a href="./users.html" class="nav-link" data-page="users">
      <i class="icon">👤</i> Người dùng
    </a>
        <a href="./categories.html" class="nav-link" data-page="users">
      <i class="icon">👤</i> Danh mục
    </a>
  </nav>
</aside>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="./js/include.js"></script> 
